<!-- header added to home.ejs -->
<%- include("partials/header"); -%>
    <h1>COMPOSE</h1>

    <form action="/compose" method="post">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input type="text" class="form-control" name="postTitle" placeholder="your title...." autocomplete="off">
            <label for="postBody">Post</label>
            <textarea name="postBody" class="form-control" rows="8" cols="40" placeholder="your blog...."></textarea>
        </div>


        <button name="button" type="submit" class="btn btn-primary">Publish</button>
    </form>

    <!-- footer added to home.ejs -->
    <%- include("partials/footer"); -%>