<!-- header added to about.ejs -->
<%- include("partials/header") -%>

    <h1>Contact</h1>
    <p>
        <%=contactQoute%>
    </p>

    <!-- footer added to about.ejs -->
    <%- include("partials/footer") -%>